{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Registrar Empleado</title>
    <link rel="stylesheet" href="{% static 'style_formulario.css' %}">
</head>

<body>
    <div class="container">
        <h1>Registrar Empleado</h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form method="post" action="{% url 'calcular_salario' %}">
            {% csrf_token %}
            <label>Cédula:</label>
            <input type="text" name="cedula" required>
            <label>Nombre:</label>
            <input type="text" name="nombre" required>
            <label>Apellido:</label>
            <input type="text" name="apellido" required>
            <label>Teléfono:</label>
            <input type="text" name="telefono" required>
            <label>Horas Trabajadas:</label>
            <input type="number" name="horas_trabajadas" required>
            <label>Valor por Hora:</label>
            <input type="number" step="0.01" name="valor_hora" required>
            <button type="submit">Calcular Salario</button>

        </form>
        <a href="{% url 'ver_historial' %}" class="btn">Ver Historial</a>
    </div>
</body>

</html>